set default="0"

insmod video_bochs
insmod video_cirrus
insmod all_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2

set timeout=10

menuentry 'Unattended Centos 7 Install' --class os {
     insmod net
     insmod tftp
     # TFTP server
     set net_default_server={{ tftpnextserver }}

     echo 'Network status: '
     net_ls_cards
     net_ls_addr
     net_ls_routes

     echo 'Loading Linux ...'
     #linux (tftp)/vmlinuz noipv6 inst.repo=http://deploy/repos/centos/7/os/x86_64/ inst.ks=http://deploy/ks.cfg inst.ks.sendmac
     linux (tftp)/vmlinuz noipv6 inst.repo={{ repourl }} inst.ks={{ repobase }}/{{ kscfg }} inst.ks.sendmac
     echo 'Loading initial ramdisk ...'
     initrd (tftp)/initrd.img
}
